
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap');



:root {
    --easing: ease-in-out;
    --timing: 150ms;
    --color-primary: rgb(0, 0, 0);
    --color-secondary: rgb(0, 0, 0);
    --color-tertiary: rgb(0, 0, 0);
    --color-quaternary: rgb(0, 0, 0);
    --text-color: rgb(0, 0, 0);
    --text-color-hover: rgb(0, 0, 0);
    --transition-color: color 150ms ease-in-out;
    --transition-bg: background-color 150ms ease-in-out;
    --transition-border: border 150ms ease-in-out;
}

* {
    box-sizing: border-box;
}

body {
    margin: 0;
    color: var(--text-color);
    font-family: 'open sans', sans-serif;
    font-size: 20px;
    background-color: var(--color-quaternary);
    overflow: hidden;
    transition: var(--transition-color),
                var(--transition-bg);
}

.page-wrapper {
    display: flex;
    flex-direction: row;
    height: 100vh;
    overflow: hidden;
}

.before::before, .after::after {
    position: absolute;
    content: '';
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
}

::-webkit-scrollbar {
    width: 10px;
}

::-webkit-scrollbar-thumb {
    background: var(--color-secondary);
    border-radius: 999rem;  
}

::-webkit-scrollbar-thumb:hover {
    filter: brightness(1.2)
}

::-webkit-scrollbar-track {
    background: transparent;
}

.hidden.hidden {
    display: none;
}

a {
    text-decoration: none;
    color: inherit;
}

h1, h2, h3, h4 {
    margin: 0;
}

img {
    max-width: 100%;
}

button {
    padding: 0;
}

footer {
    padding: 3rem;
    text-align: center;
    font-size: 14px;
    transition: var(--transition-bg);
}

.link {
    text-decoration: underline;
    color: var(--color-primary);
    transition: var(--transition-color);
}

a.email {
    text-decoration: underline;
    cursor: pointer;
}

nav ul {
    list-style: none;
    padding: 0;
}

.page-transition {
    pointer-events: none;
    background-color: black;
    opacity: 1;
    position: absolute;
    z-index: 1000;
    width: 100%;
    height: 100%;
    transition: 200ms ease;
}

.page-nav ul {
    display: flex;
    flex-direction: column;
    width: 40px;
    margin: 0;
    gap: 1rem;
}

.page-nav {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    background-color: var(--color-tertiary);
    height: 100%;
    width: calc(40px + 2rem);
    max-width: calc(40px + 2rem);
    padding: 1rem;
    overflow: auto;
    gap: 1rem;
    scrollbar-width: none;
    transition: all 400ms var(--easing),
                var(--transition-bg);
}

.page-nav.expanded {
    max-width: 15rem;
    width: 15rem;
}

#page-nav-burger {
    display: none;
}

#page-nav-collapser {
    width: 100%;
}

.btn-1 {
    border-radius: 999rem;
    padding: 8px;
    cursor: pointer;
    border: solid 2px var(--color-primary);
    background-color: var(--color-primary);
    color: var(--color-secondary);
    transition: var(--transition-color),
                var(--transition-bg),
                var(--transition-border);
}

.btn-1:hover,
.btn-1:focus-visible {
    background-color: var(--color-secondary);
    color: var(--color-primary);
}

.btn-1 i {
    pointer-events: none;
}

.nav-socials {
    flex-grow: 1;
    justify-content: flex-end;
}

.nav-row a {
    display: flex;
    gap: 1rem;
    width: fit-content;
    cursor: pointer;
}

.nav-row a.active {
    color: var(--text-color-hover);
}

.nav-row a:hover,
.nav-row a:focus-visible {
    color: var(--text-color-hover);
}

.nav-row i {
    font-size: 32px;
    pointer-events: none;
}

.nav-row a span {
    white-space: nowrap;
    word-break: keep-all;
    display: block;
    transition: opacity 400ms var(--easing);
    margin: auto;
    pointer-events: none;
}

.page-nav:not(.expanded) .nav-row a span {
    opacity: 0;
}

.dark-mode {
    font-size: 32px;
    width: fit-content;
    background: none;
    color: var(--text-color);
    border: none;
    cursor: pointer;
}

.dark-mode:hover,
.dark-mode:focus-visible {
    color: var(--text-color-hover);
}

.scroll-wrapper {
    flex-grow: 1;
    overflow-y: auto;
    overflow-x: hidden;
    width: 100%;
}

main {
    display: flex;
    flex-direction: column;
    width: 100%;
    min-height: 100%;
    align-items: center;    
    transition: all 400ms var(--easing),
                var(--transition-bg);
}

#home-page main {
    justify-content: center;
}

.content-wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    min-height: 100%;
    padding: 1rem;
}

#home-page main > .content-wrapper {
    width: fit-content;
    height: fit-content;
}

.page-intro {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.page-links {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    width: 100%;
}

.page-links a {
    display: flex;
    border: solid 2px var(--color-primary);
    background-color: var(--color-primary);
    border-radius: 999rem;
    justify-content: center;
    overflow: hidden;
    transition: var(--transition-bg),
                var(--transition-border);
}

.page-links a span {
    display: block;
    padding: 1rem 0;
    flex-grow: 1;
    text-align: center;
    background-color: var(--color-secondary);
    overflow: hidden;
    pointer-events: none;
    transition: max-width 400ms var(--easing),
                var(--transition-bg);
}

.page-links a:nth-of-type(odd) span:last-of-type {
    color: var(--color-secondary);
    background-color: inherit;
    max-width: 0;
    flex-grow: 2;
}

.page-links a:nth-of-type(even) span:first-of-type {
    color: var(--color-secondary);
    background-color: inherit;
    max-width: 0;
    flex-grow: 2;
}

.page-links a:nth-of-type(odd) span:first-of-type {
    clip-path: polygon(0% 0%, 100% 0%, 80% 100%, 0% 100%);
}

.page-links a:nth-of-type(even) span:last-of-type {
    clip-path: polygon(0% 100%, 20% 0%, 100% 0%, 100% 100%);
}

.page-links a:nth-of-type(odd):hover span:last-of-type,
.page-links a:nth-of-type(odd):focus span:last-of-type {
    max-width: 50%;
}

.page-links a:nth-of-type(even):hover span:first-of-type,
.page-links a:nth-of-type(even):focus span:first-of-type {
    max-width: 50%;
}

.projects-carousel {
    position: relative;
    display: flex;
    width: 100%;
    max-width: 1080px;
    align-items: center;
    justify-content: center;
    height: clamp(30rem, 60vh, 40rem);
    margin-top: 5rem;
}

.projects-carousel .carousel-item {
    position: absolute;
    width: clamp(20rem, 60%, clamp(30rem, 30rem, calc(100% - 1rem)));
    height: 90%;
    padding: 1rem;
    border-radius: 8px;
    border: solid 3px var(--color-primary);
    overflow: hidden;
    opacity: 0;
    cursor: pointer;
    transition: 400ms var(--easing),
                var(--transition-border);
}

.projects-carousel .carousel-item * {
    pointer-events: none;
}

.projects-carousel .carousel-item:hover {
    transform: scale(1.05);
}

.projects-carousel .carousel-item::before {
    background-color: var(--color-secondary);
    opacity: 1;
    z-index: -1;
    transition: var(--transition-bg);
    pointer-events: none;
}

.projects-carousel .carousel-item[data-order='0'] {
    z-index: -3;
    opacity: 0;
    translate: -60% -10rem;
    scale: .7;
    pointer-events: none;
}

.projects-carousel .carousel-item[data-order='1'] {
    z-index: 1;
    opacity: .4;
    translate: -50% -5rem;
    scale: .8
}

.projects-carousel .carousel-item[data-order='2'] {
    z-index: 2;
    opacity: 1;
    translate: 0 0;
}

.projects-carousel .carousel-item[data-order='3'] {
    z-index: 1;
    opacity: .4;
    translate: 50% -5rem;
    scale: .8
}

.projects-carousel .carousel-item[data-order='4'] {
    z-index: 0;
    opacity: 0;
    translate: 60% -10rem;
    scale: .7;
    pointer-events: none;
}

.projects-carousel .carousel-img {
    height: 60%;
    width: 100%;
    border-radius: 16px;
    overflow: hidden;
}

.projects-carousel .carousel-img img {
    object-fit: cover;
    object-position: center;
    height: 100%;
    width: 100%;
}

.projects-carousel .carousel-text {
    
}

.projects-carousel > button {
    font-size: 48px;
    position: absolute;
    z-index: 5;
    cursor: pointer;
}

.projects-carousel .left-arrow {
    left: 1rem;
}

.projects-carousel .right-arrow {
    right: 1rem;
}

.project-wrapper {
    width: clamp(0px, 90%, 900px);
    display: flex;
    flex-direction: column;
    padding-top: 4rem;
    align-items: center;
    gap: 2rem;
}

.project-wrapper .header-wrapper {
    width: 100%;
    max-height: clamp(15rem, 50vh, 40rem);
    border-radius: 1rem;
    overflow: hidden;
    border: solid 3px var(--color-primary);
    transition: var(--transition-border);
}

.project-wrapper .header-wrapper img {
    object-fit: cover;
    object-position: center;
    height: 100%;
    width: 100%;
    transition: scale 400ms var(--easing);
}

.project-wrapper .header-wrapper:hover img {
    scale: 1.1;
}

.gallery {
    display: flex;
    flex-flow: row wrap;
    gap: 8px;
    width: 100%;
}

.gallery-item {
    width: 10rem;
    height: 10rem;
    flex-grow: 1;
    cursor: pointer;
}

.gallery-item img  {
    object-fit: cover;
    object-position: center;
    height: 100%;
    width: 100%;
    transition: 400ms var(--easing);
}

.gallery-item:hover img,
.gallery-item:focus-visible img  {
    scale: 1.1;
}

.image-overlay {
    z-index: 25;
    position: fixed;
    display: flex;
    justify-content: center;
    align-items: center;
    top: 0;
    left: 0;
    height: 100vh;
    width: 100vw;
    padding: 2rem;
    background-color: rgba(0, 0, 0, 0.568);
    cursor: unset;
    animation: fade-in 200ms ease;
}

.image-overlay img {
    max-height: 100%;
    max-width: 100%;
}

@media screen and (max-width: 650px) {

    .page-nav {
        padding: 5rem 0 1rem 0;
        padding-top: 5rem;
        max-width: 0;
        position: absolute;
        z-index: 20
    }

    .scroll-wrapper {
        transition: 400ms var(--easing);
    }

    .page-nav.expanded {
        padding: 5rem 1rem 1rem 1rem;
    }
    
    .page-nav + .scroll-wrapper::before {
        position: fixed;
        content: '';
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        z-index: 19;
        pointer-events: none;
        transition: background-color 400ms var(--easing);
    }

    .page-nav.expanded + .scroll-wrapper::before {
        background-color: rgba(0, 0, 0, 0.522);
    }

    #page-nav-collapser {
        display: none;
    }

    #page-nav-burger {
        display: block;
        position: fixed;
        top: 1rem;
        left: 1rem;
        background: none;
        border-radius: 999rem;
        border: none;
        font-size: 32px;
        cursor: pointer;
        color: var(--color-primary);
        width: 48px;
        height: 48px;
        padding: 0;
    }

    #page-nav-burger i {
        pointer-events: none;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        transition: 400ms ease;
    }
    
    .page-nav.expanded #page-nav-burger .burger {
        transform: translate(50%, -50%) rotate(90deg);
        opacity: 0;
    }

    .page-nav:not(.expanded) #page-nav-burger .x {
        transform: translate(-50%, -50%) rotate(-90deg);
        opacity: 0;
    }
    
}

@keyframes fade-in {
    from {opacity: 0;}
    to {opacity: 1;}
}

@keyframes fade-out {
    from {opacity: 1;}
    to {opacity: 0;}
}